/* ----------------- Class CSS ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@93.2,500&display=swap');

.about{
    width:400px;
    margin: auto;
}

.procedure-images {
    max-width: 200px;
    display: relative;
}
.about-team{
    color:#000000;
}

.authors{
    background-color: #62b1d6;
}

.body{
    background-color: #194764;
}

.footer{
    background-color: #176B87;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #2182a5;
}

.picture-1{
    height:300px;
}

.nav-link{ /* authors procedure results color */
    color:rgb(0, 0, 0);
}

.index-title{
    color:rgb(0, 0, 0);
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #B4D4FF; /*#86B6F6*/
    font-family: Fredoka;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #dbe3e7;
    padding: 1px;
}

.showcase{
    background-color: #90bcf7; /*#B4D4FF*/
}

.mane{
  display: block;
  width: 70%;
  margin-left: 15;
}

.portrait{
    width:400px;
}

/* ----------------- ID CSS ----------------- */
#chart-wrapper{
    margin: auto;
    padding: 10px;
    /* If nesting a chart's container within another container, remove the 
       height and width values.  The outer container will control the dimensions */ 
    height: 40vh; 
    width:  80vw;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

